{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">

    <div class="row mb-2">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Expenses</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="{% url 'expense.add' %}" class="btn btn-primary">Add Expense</a>
        </div>
    </div>

    {% include 'partials/_message.html' %}

    <div class="container">
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.description }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.date }}</td>
                    <td><a href="{% url 'expense.edit' expense.id %}" class="btn btn-secondary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}